.our_serv {
    /* color: rgb(255, 110, 0,); */
    border-radius: 30px 0px 30px 0px;

    background-color: rgba(245, 243, 241, 0.836);
   height: 750px;
   /* border-radius: 20px; */
   box-shadow: 4px 4px 8px gray;
}

.text-deco {
   text-align: left;
   color: gray;
}

@media (max-width: 768px) {
   .carousel-inner1 .carousel-item1 > div {
       display: none;
   }
   .carousel-inner1 .carousel-item1 > div:first-child {
       display: block;
   }
}

.carousel-inner1 .carousel-item1.active,
.carousel-inner1 .carousel-item-next,
.carousel-inner1 .carousel-item-prev {
   display: flex;
}

/* display 3 */
@media (min-width: 768px) {
   
   .carousel-inner1 .carousel-item-right.active,
   .carousel-inner1 .carousel-item-next {
     /* transform: translateX(33.333%); */
           transform: translateX(50%);

   }
   
   .carousel-inner1 .carousel-item-left.active, 
   .carousel-inner1 .carousel-item-prev {
     /* transform: translateX(-33.333%); */
           transform: translateX(-50%);

   }
}

.carousel-inner1 .carousel-item-right,
.carousel-inner1 .carousel-item-left{ 
 transform: translateX(0);
}
.service_head {
   margin-bottom: 50px;
}

.icon-fluid {
   height: 150px;
color: rgb(255, 110, 0);
   border-radius: 50%;
   width: 200px;
   /* clip-path: polygon(0% 100%, 100% 100%, 0% 0%); */

}

.serv_colo {
   color: rgb(255, 110, 0);
}

.hea {
   font-weight: 900;
padding-top: 30px;}

.card-tit{
   font-weight: lighter;
   font-size: 900;
   color: red;
   padding-bottom: 30px;

}

.borde {
background-color: rgba(243, 1, 1, 0.158);
color: red;
width: 30px;
height: 30px;
transition: transform .8s;
/* padding-right: 70px; */
border-radius: 10px;
}

.ser_pe {
   color: silver;
text-align: center;
padding: 10px;
}

.borde:hover{
transform: scale(1.3);
}